.wrapper{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 600px;
    border: 1px solid violet;
    /* margin-left: 100px; */
    padding: 15px;
    margin: 5px;
    text-align: center;
   
}
.box img{
    width:100%;
    
}

@media all and (max-width:996px) 
{
    .wrapper{
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: bisque;
    }
    .box{
        width: auto;
        border: 1px solid violet;
        
        padding: 15px;
        margin: 5px;
        text-align: center;
       
    }
    .box img{
        width:100%;
    }
          
}
