.box{
    margin: 200px auto;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.26);
    border-radius: 5px 5px 0 0;
    background-color: rgb(215, 221, 133);
}

.box img{
    width: 1000px;
    align-items: center;
}
.card{
    width: 250px;
    text-align: center;
    padding: 25px;
    border-radius: 5px 5px 0 0;

}
.container1{
    background-color: rgb(39, 122, 39);
    font-size: 40px;
    padding: 10px;
}
.container2{
    /* text-align: center; */
    padding: 10px;
    background-color: rgb(8, 8, 8);
    color: white;
    font-weight: 800;
    
}

.container1:hover{
    background-color: tomato;
    text-shadow: 5px 5px 5px violet;
    
}
    
